<?xml version="1.0"?>
<config>
    <modules>
        <Codifier_Optimizer>
            <version>1.0.0</version>
        </Codifier_Optimizer>
    </modules>

    <global>
        <models>
            <optimizer>
                <class>Codifier_Optimizer_Model</class>
            </optimizer>
            <core>
                <rewrite>
                    <!-- start - this rewrite can be removed if the Theme Optimizer is not in use -->
                    <layout_update>Codifier_Optimizer_Model_Core_Layout_Update</layout_update>
                    <!-- end - this rewrite can be removed if the Theme Optimizer is not in use -->
                    <design_package>Codifier_Optimizer_Model_Core_Design_Package</design_package>
                </rewrite>
            </core>
        </models>
        <blocks>
            <optimizer>
                <class>Codifier_Optimizer_Block</class>
            </optimizer>
            <page>
                <rewrite>
                    <html_head>Codifier_Optimizer_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <optimizer>
                <class>Codifier_Optimizer_Helper</class>
            </optimizer>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <optimizer before="Mage_Adminhtml">Codifier_Optimizer_Adminhtml</optimizer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <optimizer>
                    <file>optimizer/footerjs.xml</file>
                </optimizer>
            </updates>
        </layout>
        <events>
            <http_response_send_before>
                <observers>
                    <optimizer_move_all_js_to_footer>
                        <class>optimizer/observer</class>
                        <method>moveAllJsToFooter</method>
                    </optimizer_move_all_js_to_footer>
                </observers>
            </http_response_send_before>
        </events>
    </frontend>
    <default>
        <dev>
            <js>
                <optimizer_minify_blacklist>js/mage/adminhtml/sales/packaging.js</optimizer_minify_blacklist>
                <move_all_js_to_footer>0</move_all_js_to_footer>
            </js>
            <css>
                <optimizer_minify_blacklist></optimizer_minify_blacklist>
                <optimizer_minify_blacklist_secure></optimizer_minify_blacklist_secure>
            </css>
        </dev>
    </default>
</config>